<header>
  <div class="image">
    <img src="clipboard.png" alt="clipboard">
    <div class="install-wrapper">
      <code class="install-cmd">ember install ember-cli-clipboard</code>
    </div>
  </div>

  <h2>A simple ember wrapper around <a href="http://zenorocha.github.io/clipboard.js">clipboard.js</a></h2>

  <div class="gh-link">
    <a href="https://github.com/jkusa/ember-cli-clipboard">
      <img class="gh-icon" src="github.svg" alt="github">
      <span>View On Github</span>
    </a>
  </div>
</header>

<main>
  <section>
    <div class="container direct copy-direct">
      {{#each flashMessages.arrangedQueue as |flash|}}
        {{#if flash.copyDirect}}
          {{#flash-message flash=flash as |component flash|}}
            <p>{{flash.message}}</p>
          {{/flash-message}}
        {{/if}}
      {{/each}}
      <p class="container-header">
        Set Text Directly
      </p>
      <div class="container-body">
        <div class="install-wrapper">
          <code class="install-cmd">ember install ember-cli-clipboard</code>
          {{#copy-button
            clipboardText="ember install ember-cli-clipboard"
            success=(action "copyDirectSuccess")
            error=(action "copyDirectError")
            title="copy to clipboard"
          }}
            <img class="copy-icon" src="clippy.svg" alt="clipboard">
          {{/copy-button}}
        </div>
      </div>
      {{! template-lint-disable block-indentation }}
      {{#code-block}}
\{{#copy-button
  clipboardText="ember install ember-cli-clipboard"
  success=(action "onSuccess")
  error=(action "onError")
  title="copy to clipboard"
}}
  &lt;i class="copy"&gt;&lt;/i&gt;
\{{/copy-button}}
      {{/code-block}}
    </div>
  </section>

  <section>
    <div class="container target copy-target">
      {{#each flashMessages.arrangedQueue as |flash|}}
        {{#if flash.copyTarget}}
          {{#flash-message flash=flash as |component flash|}}
            <p>{{flash.message}}</p>
          {{/flash-message}}
        {{/if}}
      {{/each}}
      <p class="container-header">
        Get Text From Target Element
      </p>
      <div class="container-body">
        <input
          id="url"
          class="textfield"
          type="text"
          value="https://github.com/jkusa/ember-cli-clipboard"
        >
        <div class="container-body-ctrls">
          {{#copy-button
            clipboardTarget="#url"
            success=(action "copyTargetSuccess")
            error=(action "copyTargetError")
          }}
            Copy URL
          {{/copy-button}}
        </div>
      </div>
      {{! template-lint-disable block-indentation }}
      {{#code-block}}
&lt;input id="url" type="text" value="https://github.com/jkusa/ember-cli-clipboard"&gt;
\{{#copy-button
  clipboardTarget="#url"
  success=(action "onSuccess")
  error=(action "onError")
}}
  Copy URL
\{{/copy-button}}
      {{/code-block}}
    </div>
  </section>

  <section>
    <div class="container target cut-target">
      {{#each flashMessages.arrangedQueue as |flash|}}
        {{#if flash.cutTarget}}
          {{#flash-message flash=flash as |component flash|}}
            <p>{{flash.message}}</p>
          {{/flash-message}}
        {{/if}}
      {{/each}}
      <p class="container-header">
        Cut Text From Target Element
      </p>
      <div class="container-body">
        <textarea id="textarea" class="textfield" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </textarea>
        <div class="container-body-ctrls">
          {{#copy-button
            clipboardTarget="#textarea"
            clipboardAction="cut"
            success=(action "cutTargetSuccess")
            error=(action "cutTargetError")
          }}
            Cut Text
          {{/copy-button}}
        </div>
      </div>
      {{! template-lint-disable block-indentation }}
      {{#code-block}}
&lt;textarea id="textarea"&gt;Lorem ipsum dolor sit amet, consectetur...&lt;/textarea&gt;
\{{#copy-button
  clipboardTarget="#textarea"
  clipboardAction="cut"
  success=(action "onSuccess")
  error=(action "onError")
}}
  Cut Text
\{{/copy-button}}
      {{/code-block}}
    </div>
  </section>

  <section>
    <div class="container if-supported">
      <p class="container-header">
        Check If Clipboard Is Supported
      </p>
      <div class="container-body">
        {{#if (is-clipboard-supported)}}
          Clipboard is supported
        {{else}}
          Clipboard is not supported
        {{/if}}
      </div>
      {{! template-lint-disable block-indentation }}
      {{#code-block}}
\{{#if (is-clipboard-supported)}}
  Clipboard is supported
\{{else}}
  Clipboard is not supported
\{{/if}}
      {{/code-block}}
    </div>
  </section>
</main>

<footer>
  <div class="profile-link">
    <a href="https://github.com/jkusa">@jkusa</a>
  </div>
</footer>
