<header>
  <div class="application__header-image">
    <img src="clipboard.png" alt="clipboard">
    <div class="application__install-wrapper">
      <code class="application__install-cmd">ember install ember-cli-clipboard</code>
    </div>
  </div>

  <h2>A simple ember wrapper around <a class="application__clipboard-link" href="http://zenorocha.github.io/clipboard.js">clipboard.js</a></h2>

  <GhLink />
</header>

<main>
  <DocSection @title="Set Text Directly" as |showMessage|>
    <div class="application__direct-text-example">
      <code class="application__install-cmd">ember install ember-cli-clipboard</code>
      <CopyButton @classNames="application__copy-icon" 
        @clipboardText="ember install ember-cli-clipboard"
        @success={{ pipe (action "getSuccessMessage" "copy") (action showMessage) }}
        @error={{ pipe (action "getErrorMessage" "copy") (action showMessage) }} title="copy to clipboard">
        <img src="clippy.svg" alt="clipboard">
      </CopyButton>
    </div>
    {{! template-lint-disable block-indentation }}
    {{#code-block}}
&lt;CopyButton
 @clipboardText="ember install ember-cli-clipboard"
 @success=\{{action "onSuccess"}}
 @error=\{{action "onError"}}
 title="copy to clipboard"
&gt;
  &lt;i class="copy"&gt;&lt;/i&gt;
&lt;/CopyButton&gt;
    {{/code-block}}
  </DocSection>

  <DocSection @title="Lazily Set Text From Action" as |showMessage|>
    {{#copy-button
      classNames="application__copy-button" 
      clipboardText=(action "generateToken")
      success=(pipe (action "getSuccessMessage" "copy") (action showMessage))
      error=(pipe (action "getErrorMessage" "copy") (action showMessage))
      title="copy to clipboard"
    }}
      Generate & Copy Token
    {{/copy-button}}
    {{! template-lint-disable block-indentation }}
    {{#code-block}}
\{{#copy-button
  clipboardText=(action "generateToken")
  success=(action "onSuccess")
  error=(action "onError")
  title="copy to clipboard"
}}
  Generate & Copy Token
\{{/copy-button}}
    {{/code-block}}
  </DocSection>

  <DocSection @title="Get Text From Target Element" as |showMessage|>
    <input id="url" class="application__textfield" type="text" value="https://github.com/jkusa/ember-cli-clipboard">
    {{#copy-button
      classNames="application__copy-button" 
      clipboardTarget="#url"
      success=(pipe (action "getSuccessMessage" "copy") (action showMessage))
      error=(pipe (action "getErrorMessage" "copy") (action showMessage))
    }}
      Copy URL
    {{/copy-button}}
    {{! template-lint-disable block-indentation }}
    {{#code-block}}
&lt;input id="url" type="text" value="https://github.com/jkusa/ember-cli-clipboard"&gt;
\{{#copy-button
  clipboardTarget="#url"
  success=(action "onSuccess")
  error=(action "onError")
}}
  Copy URL
\{{/copy-button}}
    {{/code-block}}
  </DocSection>

  <DocSection @title="Cut Text From Target Element" as |showMessage|>
    <textarea id="textarea" class="application__textfield" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </textarea>
    {{#copy-button
      classNames="application__copy-button"
      clipboardTarget="#textarea"
      clipboardAction="cut"
      success=(pipe (action "getSuccessMessage" "cut") (action showMessage))
      error=(pipe (action "getErrorMessage" "cut") (action showMessage))
    }}
      Cut Text
    {{/copy-button}}
    {{! template-lint-disable block-indentation }}
    {{#code-block}}
&lt;textarea id="textarea"&gt;Lorem ipsum dolor sit amet, consectetur...&lt;/textarea&gt;
\{{#copy-button
  clipboardTarget="#textarea"
  clipboardAction="cut"
  success=(action "onSuccess")
  error=(action "onError")
}}
  Cut Text
\{{/copy-button}}
    {{/code-block}}
  </DocSection>

  <DocSection @title="Check If Clipboard Is Supported">
    <p class="application__supported-text">
      {{#if (is-clipboard-supported)}}
        <span>Clipboard <span class="application__is-supported">is</span> supported</span>
      {{else}}
        <span>Clipboard <span class="application__is-supported">is not</span> supported</span>
      {{/if}}
    </p>
    {{! template-lint-disable block-indentation }}
    {{#code-block}}
\{{#if (is-clipboard-supported)}}
  &lt;span&gt;Clipboard is supported&lt;/span&gt;
\{{else}}
  &lt;span&gt;Clipboard is not supported&lt;/span&gt;
\{{/if}}
    {{/code-block}}
  </DocSection>
</main>

<footer>
  <div class="application__profile-link">
    <a href="https://github.com/jkusa">@jkusa</a>
  </div>
</footer>