{{page-title "ember-cli-clipboard"}}

<header>
  <div class="application__header-image">
    <img src="clipboard.png" alt="clipboard">
    <div class="application__install-wrapper">
      <code class="application__install-cmd">ember install ember-cli-clipboard</code>
    </div>
  </div>

  <h2>A simple ember wrapper around <a class="application__clipboard-link" href="http://zenorocha.github.io/clipboard.js">clipboard.js</a></h2>

  <GhLink />
</header>

<main>
  <DocSection @title="Set Text Directly" as |showMessage|>
    <div class="application__direct-text-example">
      <code class="application__install-cmd">ember install ember-cli-clipboard</code>
      <CopyButton
        class="application__copy-icon"
        @text="ember install ember-cli-clipboard"
        @onSuccess={{ pipe (fn this.getSuccessMessage "copy") showMessage }}
        @onError={{ pipe (fn this.getErrorMessage "copy") showMessage }}
        title="copy to clipboard"
      >
        <img src="clippy.svg" alt="clipboard">
      </CopyButton>
    </div>
    {{! template-lint-disable block-indentation no-unbalanced-curlies}}
    <CodeBlock>&lt;CopyButton
 @text="ember install ember-cli-clipboard"
 @onSuccess=\{{this.onSuccess}}
 @onError=\{{this.onError}}
 title="copy to clipboard"
&gt;
  &lt;i class="copy"&gt;&lt;/i&gt;
&lt;/CopyButton&gt;</CodeBlock>
  </DocSection>

  <DocSection @title="Lazily Set Text From Action" as |showMessage|>
    <CopyButton
      class="application__copy-button"
      title="copy to clipboard"
      @text={{this.generateToken}}
      @onSuccess={{pipe (fn this.getSuccessMessage "copy") showMessage}}
      @onError={{pipe (fn this.getErrorMessage "copy") showMessage}}
    >
      Generate & Copy Token
    </CopyButton>
    {{! template-lint-disable block-indentation no-unbalanced-curlies}}
    <CodeBlock>&lt;CopyButton
 @text=\{{this.generateToken}}
 @onSuccess=\{{this.onSuccess}}
 @onError=\{{this.onError}}
 title="copy to clipboard"
&gt;
  Generate & Copy Token
&lt;/CopyButton&gt;</CodeBlock>
 </DocSection>

  <DocSection @title="Get Text From Target Element" as |showMessage|>
    <input id="url" class="application__textfield" type="text" value="https://github.com/jkusa/ember-cli-clipboard">
    <CopyButton
      class="application__copy-button"
      @target="#url"
      @onSuccess={{pipe (fn this.getSuccessMessage "copy") showMessage}}
      @onError={{pipe (fn this.getErrorMessage "copy") showMessage}}
    >
      Copy URL
    </CopyButton>
    {{! template-lint-disable block-indentation no-unbalanced-curlies}}
    <CodeBlock>&lt;input id="url" type="text" value="https://github.com/jkusa/ember-cli-clipboard"&gt;
&lt;CopyButton
 @target="#url"
 @onSuccess=\{{this.onSuccess}}
 @onError=\{{this.onError}}
&gt;
  Copy URL
&lt;/CopyButton&gt;</CodeBlock>
  </DocSection>

  <DocSection @title="Cut Text From Target Element" as |showMessage|>
    <textarea id="textarea" class="application__textfield" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </textarea>
    <CopyButton
      class="application__copy-button"
      @target="#textarea"
      @action="cut"
      @onSuccess={{pipe (fn this.getSuccessMessage "cut") showMessage}}
      @onError={{pipe (fn this.getErrorMessage "cut") showMessage}}
    >
      Cut Text
    </CopyButton>
    {{! template-lint-disable block-indentation no-unbalanced-curlies}}
    <CodeBlock>&lt;textarea id="textarea"&gt;Lorem ipsum dolor sit amet, consectetur...&lt;/textarea&gt;
&lt;CopyButton
 @target="#textarea"
 @onSuccess=\{{this.onSuccess}}
 @onError=\{{this.onError}}
&gt;
  Copy URL
&lt;/CopyButton&gt;</CodeBlock>
  </DocSection>

  <DocSection @title="Check If Clipboard Is Supported">
    <p class="application__supported-text">
      {{#if (is-clipboard-supported)}}
        <span>Clipboard <span class="application__is-supported">is</span> supported</span>
      {{else}}
        <span>Clipboard <span class="application__is-supported">is not</span> supported</span>
      {{/if}}
    </p>
    {{! template-lint-disable block-indentation no-unbalanced-curlies}}
    <CodeBlock>\{{#if (is-clipboard-supported)}}
  &lt;span&gt;Clipboard is supported&lt;/span&gt;
\{{else}}
  &lt;span&gt;Clipboard is not supported&lt;/span&gt;
\{{/if}}</CodeBlock>
  </DocSection>
</main>

<footer>
  <div class="application__profile-link">
    <a href="https://github.com/jkusa">@jkusa</a>
  </div>
</footer>